<html>
<head>
<title>Welcome to SafeRides!</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

</head>
<body>
<div class="container">

<br>
<h1 class="header center orange-text">Welcome to SafeRides!</h1>

<br><br>

<div class="center-align">
<h5>Enter your Zip Code to get started</h5>
<br>

  <div class="input-field col s12">
     <input id="zipCode" type=“text” class="validate">
 </div>





<br><br>
<table class="centered">
<tr>
<form action="Results.htm">
 <div class="input-field col s12">
     <a class="waves-effect waves-light btn" type="Submit">Ride with Uber</a>
 </div>
</tr>
<tr>
 <div class="input-field col s12">
     <a class="waves-effect waves-light btn" type="Submit">Ride with Lyft</a>
 </div>
</tr>
<tr>
 <div class="input-field col s12">
    <a class="waves-effect waves-light btn" type="Submit">Ride with Chariot</a>
 </div>
</tr>
</form>
</table>
</div>
</div>

</body>
</html>
